body {
	font-family: Helvetica, sans-serif;
	background-color:firebrick;
}

h2 {
	font-size: 30px;
	color: white;
	text-align: center;
}

.grid{
width: 250px;
display: inline;
padding: 3px;
}

.profile{
	border-radius: 10px;
}

.guesswho{
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}