body {
	font-family: Helvetica, sans-serif;
}

h2 {
	font-size: 30px;
}

.grid{
width: 250px;
display: inline;
padding: 3px;
}

.success {
	opacity: 50%;
}

.guesswho{
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}